[Unit]
Description=Check for pacman, AUR, and snap updates

[Service]
Type=oneshot
Environment=DISPLAY=:0
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/%U/bus
ExecStart=/home/kabdelhalem/.local/bin/update-check.sh
